.positions_container {
    background-color: black;
    color: white;
    margin-top: 2rem;
    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        z-index: 11;
        position: relative;
        padding: 10px 0;
        margin: auto;
        justify-content: space-between;
        width: 90%;
        li {
            display: flex;
            flex-direction: row;
            margin: 25px 0;
            p {
                padding-bottom: 5px;
            }
        }
    }
    img {
        display: flex;
        max-width: 450px;
        object-fit: contain;
        justify-content: space-between;
    }
}

.info {
    width: 100%;
    margin-left: 20px;
}

.positions_title {
    color: white;
    padding-bottom: 5px;
    margin: auto;
    width: 90%;
    font-size: 40px;
    border-bottom: 1px green solid;
}

.company_position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin: 0px 0px 5px;
    h3 {
        margin: 0;
        padding-bottom: 2px;
        text-decoration: underline;
    }
}

.dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 44%;
}

.proj_tech_sal, .dates {
    font-weight: 600;
}

@media (max-width: 550px) {
    .positions_container {
        ul {
            li {
                flex-direction: column;
            }
        }
        img {
            width: 100%;
        }
    }

    .info {
        margin-left: 0;
        margin-top: 5px;
    }

    .company_position {
        width: 100%;
        flex-direction: column;
    }

    .dates {
        align-items: unset;
        justify-content: space-evenly;
        width: 100%;
        font-size: 15px;
    }
}