.personalProjects_container {
    height: 100%;
    width: 100%;
    background-color: black
}

.personalProjects_container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 11;
    position: relative;
    padding: 30px 0;
    margin: auto;
    justify-content: space-between;
    width: 90%;
}

.personal_projects_list_item {
    display: flex;
    flex-direction: column;
    width: 30%;
    // margin: 5%;
    align-items: center;
}

.personalProjects_container h3 {
    color: white;
    margin: 0;
}

