#about_container {
    background-color: black;
    color: white;
    padding-bottom: 2rem;
    margin: auto;
    width: 90%;
}

#about_title {
    padding-bottom: 5px;
    margin: auto;
    width: 100%;
    font-size: 40px;
    border-bottom: 1px green solid;
    margin-bottom: 20px;
}