.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
    width: 50px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    margin: 1rem
}

.toggle-button:focus {
    outline: none;
}

.toggle-button_line {
    z-index: 300;
    width: 50px;
    height: 4px;
    background: white;
}