.Burger {
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 15px;
  right: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: column nowrap;
}

.Burger div {
  width: 2rem;
  height: 0.25rem;
  background-color: lightgrey;
}
