#footer {
  background-color: black;
  color: white;
  padding-bottom: 1rem;
  margin: auto;
  width: 100%;
  padding-top: 10px;
  margin-top: 4rem;
  height: 10px;
  text-align: center;
  // position: relative;
  bottom: 0;
  // z-index: 100;
}
