.banner_container {
  width: auto;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

#header_video {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.onewheel_banner_title {
  z-index: 3;
  position: relative;
  width: 70%;
  top: 30%;
  margin: 0 auto;
}

.full_opaque_background {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: black;
  opacity: 0.4;
  overflow: hidden;
}

.onewheel_info {
  width: 100%;
  background-color: #f9f9f9;
  height: 100vh;
  padding-top: 5%;
  .stat_title {
    text-align: left;
    margin: 0% 10% 1%;
  }
  .onewheel_stats {
    width: 80%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    // padding-top: 4rem;
    .stat_box {
      width: 17rem;
      height: 17rem;
      background-color: white;
      // border: 10px solid #f9f9f9;
      border-radius: 50px;
      box-shadow: 5px 5px 10px lightgrey;
      padding: 1rem;

      .stat_number {
        font-weight: bold;
        font-size: 275px;
        color: slategray;
        margin: 0;
        text-align: center;
        top: 0;
        margin-top: -55px;
        text-shadow: 5px 7px darkslategrey;
      }
      .stat_text {
        margin-top: -55px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        font-family: arial;
        text-transform: uppercase;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .banner_container {
    height: 80vh;
  }
  .full_opaque_background {
    height: 100%;
  }
}
