.banner_container {
  width: auto;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

#header_video {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.onewheel_banner_title {
  z-index: 3;
  position: relative;
  width: 70%;
  top: 30%;
  margin: 0 auto;
}

.full_opaque_background {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: black;
  opacity: 0.4;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  .banner_container {
    height: 80vh;
  }
  .full_opaque_background {
    height: 100%;
  }
}
