.graph_container {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-top: 5rem;
}

.graph_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#graph_title {
    text-align: center;
}