.work_parent_cont {
  h2 {
    text-align: left;
    font-size: 40px;
    font-weight: 400;
  }
  .work_container {
    .work_item {
      .work_item_logo {
        width: 40%;
        left: 10%;
      }
      .work_item_desc {
        margin-top: 0;
        font-size: 20px;
      }
    }
  }
}
